html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00539F;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 10px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 14px;  
  line-height: 2;
  letter-spacing: 1px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20pt 20pt 20pt;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100pt;
  height: 100pt;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:55%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:80%; }
    #secondary { width:80%; margin:0; border:none; }
}